html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin: 2% 25%;
}
canvas {
  display: block;
}

button {
    margin: 20px 5px;
    display: inline-block;
    width: 200px;
    height: 60px;
    border: 5px solid #aeb3f7;;
    font-size: 1em;
}
